layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} {datetime}"
                format_space  " "

                border_enabled  "true"
                border_char     "━"
                border_format   "#[fg=#313244]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal  "#[bg=#94E2D5,fg=#11111B,bold] N "
                mode_tmux    "#[bg=#FAB387,fg=#11111B,bold] T "

                session      "#[fg=#89B4FA,bold] {name} "

                tab_normal   "#[fg=#6C7086] {index} {name} "
                tab_active   "#[bg=#89B4FA,fg=#11111B,bold] {index} {name} "
                tab_separator " "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD 2>/dev/null || echo ''"
                command_git_branch_format      "#[fg=#A6E3A1,bold]  {stdout}"
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#A6ADC8,bold] {format}"
                datetime_format " %H:%M %d/%m"
            }
        }
    }
}